<!DOCTYPE html>
<html>
<head>
  <style>
    .container {
      padding: 20px;
      background-color: white;
      border: 1px solid #ddd;
      border-radius: 5px;
      font-family: Arial, sans-serif;
      max-width: 460px;
      margin: 40px auto;
    }

    .content {
      margin: 20px 0;
      color: #3D505C;
      border-top: 2px solid #f5f5f5;
      padding-top: 10px;
    }

    .button {
      display: block;
      padding: 10px 20px;
      width: calc(100% - 40px);
      border-radius: 5px;
      background: linear-gradient(90deg, rgba(90,227,190,1) 0%, rgba(0,169,158,1) 100%);
      color: white !important;
      text-decoration: none;
      text-align: center;
      margin-bottom: 30px;
      margin-top: 10px;
    }

    .button:hover {
      background-color: #a5856c;
    }

    .footer {
      text-align: center;
      padding: 20px 0;
      border-top: 2px solid #f5f5f5;
      border-radius: 0 0 5px 5px;
      font-size: 12px;
      color: #777;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="header">
      <img src="{{logoImage}}" alt="ProjectNameHere Logo" height="30">
    </div>
    <div class="content">
      <p>Hi {{userName}},</p>
      <p>We're pleased to inform you that your report for the date range from <strong>{{startDate}}</strong> to <strong>{{endDate}}</strong> is now ready!</p>
      <p>This detailed report contains all the information you need for your records or analysis. To access your report, simply click the button below:</p>
      <a href="{{reportLink}}" target="_blank" class="button">Download Your Report</a>
      <p>If you need any assistance or have questions about the report, please don’t hesitate to reach out to us at <a href="mailto:{{supportMail}}">{{supportMail}}</a>.</p>
      <p>Thank you for choosing ProjectNameHere!</p>
    </div>
    <div class="footer">
      <p>Best regards,</p>
      <p><img src="{{logoImage}}" alt="ProjectNameHere Logo" height="30"></p>
      <p>@ ProjectNameHere</p>
      <p style="margin-top:10px;">
        This message was sent to <b>{{email}}.</b><br /> For your security, please do not forward this email.
      </p>
    </div>
  </div>
</body>
</html>
